<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="assets/developer.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">About me</h1>
      <p class="lead">
        Software Engineer graduated from the Technological University of Havana
        (CUJAE) in December 2020. Excellent communication and teamwork skills,
        as well as good decision-making and problem-solving skills, high level
        of responsibility and ease and interest to learn and improve. My career
        goal is to be the best developer I can while creating software that
        helps and impacts many people.
      </p>
    </div>
  </div>
</div>
