<div
  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Eric Janero</h1>
    <p class="lead fw-normal">Software Engineer</p>
    <div class="social-icons-container">
      <a
        target="_blank"
        tar
        href="https://www.facebook.com/profile.php?id=100009854975845"
        class="fa fa-facebook"
      ></a>
      <a
        target="_blank"
        href="https://twitter.com/eric_j_p_"
        class="fa fa-twitter"
      ></a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/eric-janero/"
        class="fa fa-linkedin"
      ></a>
      <a
        target="_blank"
        href="https://github.com/ejanerop"
        class="fa fa-github"
      ></a>
    </div>
  </div>
</div>
