<section class="bgimage" id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
        <h2 class="hero_title">Hi, I'm Eric!</h2>
        <p class="hero_desc">I am a fullstack software developer.</p>
        <span><i class="fa fa-envelope"></i> &nbsp;ejanerop97@gmail.com</span>
        <div class="social-icons-container">
          <a
            target="_blank"
            tar
            href="https://www.facebook.com/profile.php?id=100009854975845"
            class="fa fa-facebook"
          ></a>
          <a
            target="_blank"
            href="https://twitter.com/eric_j_p_"
            class="fa fa-twitter"
          ></a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/eric-janero/"
            class="fa fa-linkedin"
          ></a>
          <a
            target="_blank"
            href="https://github.com/ejanerop"
            class="fa fa-github"
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
